<ion-view view-title="">
  <ion-content scroll="false" class="player" ng-style="{'background-color': config.backgroundColour}">
      <div class="logo"><img ng-src="{{config.logo}}"/></div>
      <div class="nowplaying-cover"><img ng-src="{{songs[0].cover}}" /></div>
      <div class="playing-section">
        <div class="button-bar nowplaying-bar" ng-style="{'background-color': shadedBackgroundColour}">
          <div class="nowplaying" ng-if="songs[0]">{{songs[0].artist}} - {{songs[0].song}}</div>
          <button class="button button-clear play-pause" ng-click="play()" ng-hide="isPlaying"><i class="icon ion-play"></i></button>
          <button class="button button-clear play-pause" ng-click="stop()" ng-show="isPlaying"><i class="icon ion-stop"></i></button>
        </div>

        <div class="row lastplayed">
          <div class="col"><img ng-src="{{songs[1].cover}}?w=150" /></div>
          <div class="col"><img ng-src="{{songs[2].cover}}?w=150" /></div>
          <div class="col"><img ng-src="{{songs[3].cover}}?w=150" /></div>
          <div class="col"><img ng-src="{{songs[4].cover}}?w=150" /></div>
        </div>
      </div>
    </ion-content>
</ion-view>
