<ion-view view-title="">
  <ion-content scroll="false" class="player">
      <div class="logo"><img src="https://photon.shoutca.st/swift.innovatete.ch/v1/AUTH_c7c69319e10b45c9b13b144831accc93/images/cfa5aa80-7f22-40f7-8884-057a264b2710.png"
        /></div>
      <div class="nowplaying-cover"><img src="http://photon.shoutca.st/cdn.shoutca.st/noalbum.png" /></div>
      <div class="playing-section">
        <div class="button-bar nowplaying-bar">
          <div class="nowplaying">Artist - Song</div>
          <button class="button button-clear play-pause"><i class="icon ion-play"></i></button>
        </div>

        <div class="row lastplayed">
          <div class="col"><img src="http://photon.shoutca.st/cdn.shoutca.st/noalbum.png?w=200" /></div>
          <div class="col"><img src="http://photon.shoutca.st/cdn.shoutca.st/noalbum.png?w=200" /></div>
          <div class="col"><img src="http://photon.shoutca.st/cdn.shoutca.st/noalbum.png?w=200" /></div>
          <div class="col"><img src="http://photon.shoutca.st/cdn.shoutca.st/noalbum.png?w=200" /></div>
        </div>
      </div>
    </ion-content>
</ion-view>
